*.pyc
*.map
*.dblite
*.elf
*.bin
*.hex
*.axf
*.pdb
*.idb
*.ilk
*.old
build
*~
*.o
*.obj
*.bak
*.dep
*.lib
*.i
*.d
*.out
.DS_Stor*
Midea-X1
*.uimg
GPATH
GRTAGS
GTAGS
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
tool/
tool/play_tips/
tool/rt_ota_packaging_tool/
tool/rt_ota_packaging_tool/rtthread.rbl
tool/rt_ota_packaging_tool/rtthread.rbl
*.rbl
